* text=auto eol=lf
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.webp binary
*.wasm binary
*.wav binary
*.mp3 binary
*.ogg binary
*.ttf binary
*.otf binary
*.woff binary
*.woff2 binary
*.db binary
*.pyc binary
